<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span>Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{order.date}}</span>
                </dd>
                <dt><span>Bill Number</span></dt>
                <dd>
                    <span>{{order.billNumber}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{order.amount}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{order.status}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="order.customer">
                        <a [routerLink]="['/customer', order.customer?.id, 'view']">{{order.customer?.firstName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
